Apkop logi main.json
{
  "name": "Apkop logi main",
  "nodes": [
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "working_start",
              "value": "09:00"
            },
            {
              "name": "working_end",
              "value": "18:00"
            }
          ],
          "boolean": [],
          "number": [
            {
              "name": "per_window_min",
              "value": 10
            },
            {
              "name": "buffer_min",
              "value": 15
            }
          ]
        },
        "options": {}
      },
      "name": "Set - defaults",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2992,
        -1024
      ],
      "id": "22c1e193-2550-4d10-902f-1b659b33b669"
    },
    {
      "parameters": {
        "functionCode": "const data = items[0].json;\n\n// parse windows_count\nconst windows = parseInt(data.windows_count || 1, 10);\n\n// simple service base durations (min)\nconst baseMap = {\n  maintenance: 30,\n  regulation: 45,\n  installation: 90\n};\nconst base = baseMap[data.service_type] || 30;\n\nconst perWindow = parseInt(data.per_window_min || 10, 10);\nconst durationMin = base + windows * perWindow;\n\nitems[0].json.estimated_duration_min = durationMin;\nreturn items;"
      },
      "name": "Function - estimate duration",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -2800,
        -1024
      ],
      "id": "a7241152-d5be-477e-91e9-a545c2a050fd"
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/distancematrix/json",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "origins",
              "value": "=Rīga, Melnsila iela 23-2, LV-1046"
            },
            {
              "name": "destinations",
              "value": "={{$json[\"body\"][\"address\"]}}"
            },
            {
              "name": "key",
              "value": "your google maps api key"
            }
          ]
        }
      },
      "name": "HTTP Request - Distance Matrix",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -2608,
        -1152
      ],
      "id": "8fee88ec-0897-4a38-8296-ddd0c08f1e04"
    },
    {
      "parameters": {
        "functionCode": "const res = items[0].json;\n// safe access\nlet durSec = 0;\ntry {\n  durSec = res.rows[0].elements[0].duration.value || 0;\n} catch(e) {\n  durSec = 0;\n}\nitems[0].json.travel_time_min = Math.ceil(durSec / 60);\n// compute total slot time = travel + estimated_duration + buffer\nitems[0].json.total_slot_time = parseInt(items[0].json.travel_time_min || 0,10) + parseInt(items[0].json.estimated_duration_min || 0,10) + parseInt(items[0].json.buffer_min || 15,10);\nreturn items;"
      },
      "name": "Function - compute total slot time",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -2256,
        -1024
      ],
      "id": "386a45d8-d792-4c15-982d-62abbff74922"
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "c_510f1e71ac7c0efaa77af0289e1a7237320585d568077a115a850a3952ed50d7@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Apkop logi tests"
        },
        "timeMin": "={{ new Date().toISOString() }}",
        "timeMax": "={{ new Date(Date.now() + 30*24*60*60*1000).toISOString() }}",
        "options": {
          "outputFormat": "raw"
        }
      },
      "name": "Google Calendar - List events (day)",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        -2112,
        -1184
      ],
      "id": "cc02bb1f-35bd-4a9e-91df-7e994b75d4b0",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "your_google_calendar_api_id",
          "name": "Google Calendar account 4"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// === Strict slot generator using actual total slot duration ===\n// Expects: busy (array), working_start, working_end, total_slot_time, buffer_min\n\nconst data = items[0].json;\n\nconst busy = data.busy || [];\nconst workingStart = data.working_start || \"09:00\";\nconst workingEnd = data.working_end || \"18:00\";\nconst slotLength = parseInt(data.total_slot_time || 60, 10); // full total time in minutes\nconst bufferMin = parseInt(data.buffer_min || 15, 10);\nconst daysForward = 30;\n\n// Group busy intervals\nconst busyByDate = {};\nfor (const b of busy) {\n  const date = b.start.split(\"T\")[0];\n  if (!busyByDate[date]) busyByDate[date] = [];\n  busyByDate[date].push({ start: new Date(b.start), end: new Date(b.end) });\n}\nfor (const d in busyByDate) busyByDate[d].sort((a, b) => a.start - b.start);\n\nfunction makeDate(dateStr, timeStr) {\n  const [h, m] = timeStr.split(\":\").map(Number);\n  const d = new Date(dateStr);\n  d.setHours(h, m, 0, 0);\n  return d;\n}\n\nconst today = new Date();\nconst availableDays = [];\nconst slots = {};\n\nfor (let i = 0; i < daysForward; i++) {\n  const date = new Date(today);\n  date.setDate(today.getDate() + i);\n  const dateStr = date.toISOString().split(\"T\")[0];\n  const dayOfWeek = date.getDay();\n  if (dayOfWeek === 0 || dayOfWeek === 6) continue;\n\n  const startOfDay = makeDate(dateStr, workingStart);\n  const endOfDay = makeDate(dateStr, workingEnd);\n  const busyList = busyByDate[dateStr] || [];\n  const freeSlots = [];\n\n  let current = new Date(startOfDay);\n\n  while (current.getTime() + slotLength * 60000 <= endOfDay.getTime()) {\n    const slotStart = new Date(current);\n    const slotEnd = new Date(slotStart.getTime() + slotLength * 60000);\n\n    const overlaps = busyList.some(b =>\n      slotStart < b.end && slotEnd > b.start\n    );\n\n    // Only add if slot fully fits between events\n    if (!overlaps) {\n      freeSlots.push(\n        slotStart.toLocaleTimeString(\"lv-LV\", {\n          hour: \"2-digit\",\n          minute: \"2-digit\",\n          hour12: false\n        })\n      );\n    }\n\n    // Move forward slightly (e.g., every 30min) to test next possible start\n    current.setMinutes(current.getMinutes() + 30);\n  }\n\n  if (freeSlots.length > 0) {\n    availableDays.push(dateStr);\n    slots[dateStr] = freeSlots;\n  }\n}\n\nreturn [{ json: { available_days: availableDays, slots } }];\n"
      },
      "name": "Function - generate slots",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1536,
        -1040
      ],
      "id": "8d3fd907-159a-42e5-bca0-df42aadf9465",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "content": "/*\nGenerate available slots for the day given:\n- working_start (HH:mm)\n- working_end (HH:mm)\n- total_slot_time (minutes)\n- events: array of Google Calendar events (each has start.dateTime and end.dateTime)\n*/\n\n//  YYYY-MM-DD\nconst preferredDate = $json[\"preferred_date\"] ? new Date($json[\"preferred_date\"]) : new Date();\nconst day = preferredDate.toISOString().split('T')[0];\n\nconst workingStartStr = $json[\"working_start\"] || \"09:00\";\nconst workingEndStr   = $json[\"working_end\"] || \"18:00\";\nconst slotLen = parseInt($json[\"total_slot_time\"] || 60, 10);\nconst step = 15;\n\nconst workingStart = new Date(`${day}T${workingStartStr}:00`);\nconst workingEnd   = new Date(`${day}T${workingEndStr}:00`);\n\n// Получаем события из Google Calendar\nconst gcItems = $items(\"Google Calendar - List events (day)\") || [];\nconst eventsArr = [];\ngcItems.forEach(item => {\n  if (item.json?.items) {\n    item.json.items.forEach(ev => {\n      const s = ev.start?.dateTime || ev.start?.date || null;\n      const e = ev.end?.dateTime || ev.end?.date || null;\n      if (s && e) eventsArr.push({ start: new Date(s), end: new Date(e) });\n    });\n  }\n});\n\nfunction isFree(s, e) {\n  for (const ev of eventsArr) {\n    if (!(e <= ev.start || s >= ev.end)) return false;\n  }\n  return true;\n}\n\n// Генерация слотов\nconst slots = [];\nlet cur = new Date(workingStart);\n\nwhile ((cur.getTime() + slotLen * 60000) <= workingEnd.getTime() && slots.length < 10) {\n  const s = new Date(cur);\n  const e = new Date(cur.getTime() + slotLen * 60000);\n  if (isFree(s, e)) slots.push({ start: s.toISOString(), end: e.toISOString() });\n  cur = new Date(cur.getTime() + step * 60000);\n}\n\nreturn slots.map(s => ({ json: s }));\n\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        640,
        -768
      ],
      "id": "6e25a6c0-acc3-48dd-a918-7d32a723af0e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2432,
        -1024
      ],
      "id": "13213d88-1fe7-4e0b-9b8c-ec4b4c6d2cca",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1936,
        -1040
      ],
      "id": "fe879fa3-ba93-4093-80a7-4851f925cf38",
      "name": "Merge1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.data }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1248,
        -544
      ],
      "id": "e0cb7596-8ab8-4f58-a4a4-8157954efe57",
      "name": "Respond to Webhook",
      "alwaysOutputData": false,
      "retryOnFail": true
    },
    {
      "parameters": {
        "functionCode": "// === Clean Slots (fixed version) ===\nconst data = items[0].json;\n\n// Extract the busy times from the first calendar\nconst calendars = data.calendars || {};\nconst calendarId = Object.keys(calendars)[0];\nconst busy = calendars?.[calendarId]?.busy || [];\n\n// Keep the timing info from the root as well\nconst totalSlotTime = data.total_slot_time;\nconst bufferMin = data.buffer_min;\nconst workingStart = data.working_start;\nconst workingEnd = data.working_end;\n\n// Return all the needed fields together\nreturn [\n  {\n    json: {\n      busy,\n      total_slot_time: totalSlotTime,\n      buffer_min: bufferMin,\n      working_start: workingStart,\n      working_end: workingEnd\n    }\n  }\n];\n"
      },
      "name": "Function - Clean slots",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1728,
        -1040
      ],
      "id": "c879cad4-cd96-40f3-aae8-6de336cc93af",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "functionCode": "// Combine all items into one object\nconst all = items.map(i => i.json);\n\n// If you already have a single item with \"available_days\" and \"slots\", just forward it:\nif (all.length === 1 && all[0].available_days) {\n  return items;\n}\n\n// Otherwise, merge all into one object\nreturn [\n  {\n    json: {\n      available_days: all.flatMap(i => i.available_days || []),\n      slots: Object.assign({}, ...all.map(i => i.slots || {}))\n    }\n  }\n];\n"
      },
      "name": "Function - Merge data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1328,
        -1040
      ],
      "id": "f33254bd-84e4-4596-98c2-015ad5225be6",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1408,
        -544
      ],
      "id": "a8450380-8dd6-4aa4-8c77-2a5fdaaf935d",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "booking/confirm",
        "options": {
          "allowedOrigins": "https://www.apkoplogus.lv"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3232,
        160
      ],
      "id": "ad9894bb-4a39-4ca6-bf4e-84e98c840bab",
      "name": "Webhook - Form Confirmation",
      "webhookId": "ff43278d-bffa-4151-b1c9-dff11e313f8c"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1woMQfwHUepJEcc9jytQiKCG5JLS4wgqiel3k3Hir3tI",
          "mode": "list",
          "cachedResultName": "Tests - Apkop Logi",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1woMQfwHUepJEcc9jytQiKCG5JLS4wgqiel3k3Hir3tI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1woMQfwHUepJEcc9jytQiKCG5JLS4wgqiel3k3Hir3tI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Epasts": "={{ $json.body.email }}",
            "Vārds Uzvārds": "={{ $json.body.name }}",
            "Telefona numurs": "={{ $json.body.phone }}",
            "Kad pieteicās": "=",
            "Adrese": "={{ $json.body.address }}",
            "Pieteikuma avots": "={{ $json.body.source }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Epasts",
              "displayName": "Epasts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vārds Uzvārds",
              "displayName": "Vārds Uzvārds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefona numurs",
              "displayName": "Telefona numurs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Kad pieteicās",
              "displayName": "Kad pieteicās",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pieteikuma avots",
              "displayName": "Pieteikuma avots",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vai sazvanīts?",
              "displayName": "Vai sazvanīts?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Interese",
              "displayName": "Interese",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pēdējā aktivitāte",
              "displayName": "Pēdējā aktivitāte",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nākamā rīcība",
              "displayName": "Nākamā rīcība",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Papildus darbība",
              "displayName": "Papildus darbība",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Klients",
              "displayName": "Klients",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Darījuma lielums",
              "displayName": "Darījuma lielums",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tips",
              "displayName": "Tips",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pilsēta",
              "displayName": "Pilsēta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Adrese",
              "displayName": "Adrese",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Komentārs",
              "displayName": "Komentārs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1920,
        288
      ],
      "id": "f04f8f6d-4e7e-4bb0-b04c-46347ab096d7",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "your_google_calendar_api_id",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "working_start",
              "value": "09:00"
            },
            {
              "name": "working_end",
              "value": "18:00"
            }
          ],
          "boolean": [],
          "number": [
            {
              "name": "per_window_min",
              "value": 10
            },
            {
              "name": "buffer_min",
              "value": 15
            }
          ]
        },
        "options": {}
      },
      "name": "Set - defaults1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2944,
        160
      ],
      "id": "4b94548e-7d9d-4115-b437-5efc6fe27886"
    },
    {
      "parameters": {
        "functionCode": "const data = items[0].json;\n\n// parse windows_count\nconst windows = parseInt(data.windows_count || 1, 10);\n\n// simple service base durations (min)\nconst baseMap = {\n  maintenance: 30,\n  regulation: 45,\n  installation: 90\n};\nconst base = baseMap[data.service_type] || 30;\n\nconst perWindow = parseInt(data.per_window_min || 10, 10);\nconst durationMin = base + windows * perWindow;\n\nitems[0].json.estimated_duration_min = durationMin;\nreturn items;"
      },
      "name": "Function - estimate duration1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -2720,
        160
      ],
      "id": "5fbae97d-9c6d-4e5a-af5a-79477ab724f1"
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/distancematrix/json",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "origins",
              "value": "=Rīga, Melnsila iela 23-2, LV-1046"
            },
            {
              "name": "destinations",
              "value": "={{$json[\"body\"][\"address\"]}}"
            },
            {
              "name": "key",
              "value": "your google maps api key"
            }
          ]
        }
      },
      "name": "HTTP Request - Distance Matrix1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -2560,
        0
      ],
      "id": "a0d87cb1-5415-4a4d-9cfa-8196d838d78e"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2416,
        144
      ],
      "id": "4e330a75-e7ca-400e-87fb-4a537370906b",
      "name": "Merge2"
    },
    {
      "parameters": {
        "functionCode": "const res = items[0].json;\n// safe access\nlet durSec = 0;\ntry {\n  durSec = res.rows[0].elements[0].duration.value || 0;\n} catch(e) {\n  durSec = 0;\n}\nitems[0].json.travel_time_min = Math.ceil(durSec / 60);\n// compute total slot time = travel + estimated_duration + buffer\nitems[0].json.total_slot_time = parseInt(items[0].json.travel_time_min || 0,10) + parseInt(items[0].json.estimated_duration_min || 0,10) + parseInt(items[0].json.buffer_min || 15,10);\nreturn items;"
      },
      "name": "Function - compute total slot time1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -2224,
        160
      ],
      "id": "8f9e4a5a-571d-456c-b956-68a80407e93f"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "booking/get_client_data",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://www.apkoplogus.lv "
        }
      },
      "name": "Webhook - Get client data",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3168,
        -528
      ],
      "id": "f56e6f2b-15d3-48a7-a305-f400e2f03951",
      "webhookId": "5e69bdec-042c-4ccc-861a-3e43eaf7099f"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "c_510f1e71ac7c0efaa77af0289e1a7237320585d568077a115a850a3952ed50d7@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Apkop logi tests"
        },
        "start": "={{ new Date($json.body.date + 'T' + $json.body.time + ':00+02:00') }}",
        "end": "={{ new Date(new Date($json.body.date + 'T' + $json.body.time + ':00+02:00').getTime() + ($json.total_slot_time * 60 * 1000)) }}",
        "additionalFields": {
          "description": "={{ $json.body.description}}",
          "location": "={{ $json.body.address }}",
          "summary": "={{ $json.body.service}}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -1920,
        128
      ],
      "id": "aca768a3-3614-4b95-8cb7-8e0d2013f414",
      "name": "Izveidot tikšanos",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "your_google_calendar_api_id",
          "name": "Google Calendar account 4"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "kitovartsargs@gmail.com",
        "subject": "=Jūsu pieteikums ir saņemts!",
        "message": "=<!DOCTYPE html>\n<html lang=\"lv\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Pieteikuma apstiprinājums</title>\n</head>\n<body style=\"font-family: Arial, sans-serif; background-color: #fafafa; padding: 0; margin: 0;\">\n  <div style=\"max-width: 600px; margin: 0 auto; background: #ffffff; border-radius: 8px; overflow: hidden;\">\n    <div style=\"text-align: center; padding: 20px;\">\n      <img src=\"https://fvsecdl.stripocdn.email/content/guids/CABINET_06139160c5dc980ed177fece9edde541cd5ccfaa83c6aba8a2dfbccd33ae8e0d/images/apkoploguss1.png\" alt=\"Apkop Logi\" width=\"200\" style=\"border: 0; outline: none; text-decoration: none;\">\n    </div>\n\n    <div style=\"padding: 20px;\">\n      <h1 style=\"text-align: center; color: #333333;\">Paldies par pieteikumu!</h1>\n\n      <p style=\"font-size: 16px; color: #333;\">\n        Sveiks, <strong>{{$json[\"body\"][\"name\"]}}</strong>! <br><br>\n        Jūsu pieteikums ir reģistrēts. Mēs drīzumā ar jums sazināsimies, lai apstiprinātu detaļas un precizētu nepieciešamo informāciju.\n      </p>\n\n      <p style=\"font-size: 16px; color: #333;\">\n        <strong>Pieteikuma datums un laiks:</strong><br>\n        {{$json[\"body\"][\"date\"]}} plkst. {{$json[\"body\"][\"time\"]}}\n      </p>\n\n      <div style=\"text-align: center; margin: 40px 0;\">\n        <a href=\"https://apkoplogus.lv\" target=\"_blank\" \n          style=\"background-color: #3eb9e7; color: #fff; padding: 12px 30px; border-radius: 6px; font-size: 18px; text-decoration: none; display: inline-block;\">\n          Pārcelt pieteikumu\n        </a>\n        <p style=\"font-size: 12px; color: #555; margin-top: 10px;\">\n          Pieteikumu iespējams pārcelt ne vēlāk kā 24 stundas pirms paredzētās tikšanās.\n        </p>\n      </div>\n\n      <p style=\"font-size: 14px; color: #333;\">\n        Jautājumi vai neskaidrības? Rakstiet mums uz \n        <a href=\"mailto:info@apkoplogus.lv\" style=\"color: #3eb9e7; text-decoration: underline;\">info@apkoplogus.lv</a> \n        vai zvaniet uz <strong style=\"color: #3eb9e7;\">+371 223 314 16</strong>.\n      </p>\n\n      <p style=\"font-size: 14px; color: #333;\">\n        Ar cieņu,<br>\n        <strong>Apkop Logi komanda</strong>\n      </p>\n    </div>\n\n    <div style=\"text-align: center; padding: 20px; background: #f1f1f1; font-size: 12px; color: #555;\">\n      <p>© Apkop Logi, SIA. Visas tiesības aizsargātas.<br>\n      Teteru iela 8, Rīga, Latvija</p>\n      <div style=\"margin-top: 10px;\">\n        <a href=\"https://www.facebook.com/apkoplogus\" target=\"_blank\"><img src=\"https://fvsecdl.stripocdn.email/content/assets/img/social-icons/logo-black/facebook-logo-black.png\" width=\"24\" style=\"margin: 0 8px;\"></a>\n        <a href=\"https://www.instagram.com/apkoplogus\" target=\"_blank\"><img src=\"https://fvsecdl.stripocdn.email/content/assets/img/social-icons/logo-black/instagram-logo-black.png\" width=\"24\" style=\"margin: 0 8px;\"></a>\n        <a href=\"https://wa.me/+37126874272\" target=\"_blank\"><img src=\"https://fvsecdl.stripocdn.email/content/assets/img/messenger-icons/logo-black/whatsapp-logo-black.png\" width=\"24\" style=\"margin: 0 8px;\"></a>\n        <a href=\"https://www.tiktok.com/@profound.lv\" target=\"_blank\"><img src=\"https://fvsecdl.stripocdn.email/content/assets/img/social-icons/logo-black/tiktok-logo-black.png\" width=\"24\" style=\"margin: 0 8px;\"></a>\n      </div>\n    </div>\n  </div>\n</body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1936,
        -80
      ],
      "id": "6c78269a-9e4e-4aca-955c-8207c60c0351",
      "name": "Send a message",
      "webhookId": "7b45a737-0976-4ff6-845e-69ff3643c035",
      "credentials": {
        "gmailOAuth2": {
          "id": "your_gmail_api_id",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"body\": {\n    \"name\": \"Kristofers\",\n    \"email\": \"kristofers@aheadmedia.lv\",\n    \"phone\": \"25410318\",\n    \"address\": \"Cielavu iela 23, Ādaži, Ādaži pilsēta, Ādažu novads\",\n    \"service\": \"Logu apkope/remonts\",\n    \"windows\": \"5\",\n    \"message\": \"5\",\n    \"date\": \"2025-11-12\",\n    \"time\": \"14:00\",\n    \"source\": \"booking_confirm\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3168,
        -48
      ],
      "id": "01f49e69-2656-40f6-99fd-aeadcb2c5967",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3536,
        -80
      ],
      "id": "7794ea72-03e5-448b-ba59-d40927806491",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "const data = $json.body;\n\n// Combine date and time into ISO datetime\nconst datetimeStr = `${data.date}T${data.time}:00+02:00`;\nconst bookingTime = new Date(datetimeStr);\n\n// Calculate reminder times\nconst reminder24h = new Date(bookingTime.getTime() - 24 * 60 * 60 * 1000);\nconst reminder1h = new Date(bookingTime.getTime() - 1 * 60 * 60 * 1000);\n\n// Return enhanced data\nreturn [\n  {\n    json: {\n      ...data,\n      datetime: datetimeStr,\n      reminder_24h: reminder24h.toISOString(),\n      reminder_1h: reminder1h.toISOString()\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1920,
        512
      ],
      "id": "8835ab33-8228-4d3d-82be-3f971fc0e74a",
      "name": "24H aprēķins"
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ $json.reminder_24h }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1760,
        608
      ],
      "id": "787bb0f6-7098-44bf-bfc6-c45d839a869f",
      "name": "24h timers",
      "webhookId": "36b0d9f8-8dfa-4353-8bff-8abac56bfc6c"
    },
    {
      "parameters": {
        "sendTo": "kitovartsargs@gmail.com",
        "subject": "Atgādinājums! Būsim pie jums pēc 24h",
        "message": "=<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<html dir=\"ltr\" xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:o=\"urn:schemas-microsoft-com:office:office\" lang=\"lv\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta content=\"width=device-width, initial-scale=1\" name=\"viewport\">\n  <meta name=\"x-apple-disable-message-reformatting\">\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n  <meta content=\"telephone=no\" name=\"format-detection\">\n  <title>24H Atgādinājums</title>\n</head>\n<body style=\"font-family: Arial, sans-serif; background-color: #fafafa; margin: 0; padding: 0;\">\n  <div style=\"max-width: 600px; margin: 0 auto; background: #ffffff; border-radius: 8px; overflow: hidden;\">\n    <div style=\"text-align: center; padding: 20px;\">\n      <img src=\"https://fvsecdl.stripocdn.email/content/guids/CABINET_06139160c5dc980ed177fece9edde541cd5ccfaa83c6aba8a2dfbccd33ae8e0d/images/apkoploguss1.png\" alt=\"Apkop Logi\" width=\"200\" style=\"border: 0; outline: none; text-decoration: none;\">\n    </div>\n\n    <div style=\"padding: 20px;\">\n      <h1 style=\"text-align: center; color: #333333;\">24H Atgādinājums!</h1>\n\n      <p style=\"font-size: 16px; color: #333;\">\n        Sveiki, <strong>{{$json[\"name\"]}}</strong>!<br><br>\n        Atgādinām, ka jūsu pieteiktā <strong>{{$json[\"service\"]}}</strong> ir paredzēta \n        <strong>{{$json[\"date\"]}} plkst. {{$json[\"time\"]}}.</strong>\n      </p>\n\n      <p style=\"font-size: 16px; color: #333;\">\n        Šis ir automātisks 24 stundu atgādinājums, lai nodrošinātu, ka apkalpošanas laiks jums joprojām ir ērts.\n      </p>\n\n      <p style=\"font-size: 16px; color: #333;\">\n        Lūdzu, ņemiet vērā, ka <strong>pieteikumu vairs nav iespējams pārcelt</strong> mazāk nekā 24 stundas pirms paredzētās tikšanās.\n      </p>\n\n      <p style=\"font-size: 16px; color: #333;\">\n        Ja tomēr nevarēsiet ierasties, lūdzam sazināties ar mums pēc iespējas ātrāk, zvanot vai rakstot:\n      </p>\n\n      <p style=\"font-size: 16px; color: #3eb9e7; font-weight: bold;\">\n        +371 223 314 16<br>\n        <a href=\"mailto:info@apkoplogus.lv\" style=\"color: #3eb9e7; text-decoration: underline;\">info@apkoplogus.lv</a>\n      </p>\n\n      <p style=\"font-size: 14px; color: #333;\">\n        Paldies par sapratni un uz tikšanos!<br><br>\n        Ar cieņu,<br>\n        <strong>Apkop Logi komanda</strong>\n      </p>\n    </div>\n\n    <div style=\"text-align: center; padding: 20px; background: #f1f1f1; font-size: 12px; color: #555;\">\n      <p>© Apkop Logi, SIA. Visas tiesības aizsargātas.<br>Teteru iela 8, Rīga, Latvija</p>\n      <div style=\"margin-top: 10px;\">\n        <a href=\"https://www.facebook.com/apkoplogus\" target=\"_blank\"><img src=\"https://fvsecdl.stripocdn.email/content/assets/img/social-icons/logo-black/facebook-logo-black.png\" width=\"24\" style=\"margin: 0 8px;\"></a>\n        <a href=\"https://www.instagram.com/apkoplogus\" target=\"_blank\"><img src=\"https://fvsecdl.stripocdn.email/content/assets/img/social-icons/logo-black/instagram-logo-black.png\" width=\"24\" style=\"margin: 0 8px;\"></a>\n        <a href=\"https://wa.me/+37126874272\" target=\"_blank\"><img src=\"https://fvsecdl.stripocdn.email/content/assets/img/messenger-icons/logo-black/whatsapp-logo-black.png\" width=\"24\" style=\"margin: 0 8px;\"></a>\n        <a href=\"https://www.tiktok.com/@profound.lv\" target=\"_blank\"><img src=\"https://fvsecdl.stripocdn.email/content/assets/img/social-icons/logo-black/tiktok-logo-black.png\" width=\"24\" style=\"margin: 0 8px;\"></a>\n      </div>\n    </div>\n  </div>\n</body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1568,
        608
      ],
      "id": "b9cc6990-c015-47ee-a33c-f1acdb856bea",
      "name": "24h Atgādinājuma e-pasts",
      "webhookId": "c8d07f10-251e-49cf-a494-f29be9b43da4",
      "credentials": {
        "gmailOAuth2": {
          "id": "your_gmail_api_id",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{$json.reminder_1h}}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1760,
        432
      ],
      "id": "be86dcaf-9c65-4244-b59d-285fae4882fd",
      "name": "1h timers",
      "webhookId": "36b0d9f8-8dfa-4353-8bff-8abac56bfc6c"
    },
    {
      "parameters": {
        "operation": "send",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -1568,
        432
      ],
      "id": "304ce4e2-42f9-4be0-9c86-c4f179db35f6",
      "name": "Send message",
      "webhookId": "bf10c1db-8484-408f-9f33-68ca118877fc",
      "disabled": true
    },
    {
      "parameters": {
        "path": "3988ac05-a971-41b6-82ae-733fc14b2109",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3376,
        1024
      ],
      "id": "9faf3db4-8b58-4a49-b158-400072678008",
      "name": "Webhook - Reschedule data",
      "webhookId": "3988ac05-a971-41b6-82ae-733fc14b2109"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1woMQfwHUepJEcc9jytQiKCG5JLS4wgqiel3k3Hir3tI",
          "mode": "list",
          "cachedResultName": "Tests - Apkop Logi",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1woMQfwHUepJEcc9jytQiKCG5JLS4wgqiel3k3Hir3tI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1woMQfwHUepJEcc9jytQiKCG5JLS4wgqiel3k3Hir3tI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3136,
        1024
      ],
      "id": "54b5efbd-3f12-43d0-bf47-584483c63587",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "your_google_sheets_api_id",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "working_start",
              "value": "09:00"
            },
            {
              "name": "working_end",
              "value": "18:00"
            }
          ],
          "boolean": [],
          "number": [
            {
              "name": "per_window_min",
              "value": 10
            },
            {
              "name": "buffer_min",
              "value": 15
            }
          ]
        },
        "options": {}
      },
      "name": "Set - defaults2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2880,
        1024
      ],
      "id": "5b6bd03c-c817-4d53-9631-3c46d0863a80"
    },
    {
      "parameters": {
        "functionCode": "const data = items[0].json;\n\n// parse windows_count\nconst windows = parseInt(data.windows_count || 1, 10);\n\n// simple service base durations (min)\nconst baseMap = {\n  maintenance: 30,\n  regulation: 45,\n  installation: 90\n};\nconst base = baseMap[data.service_type] || 30;\n\nconst perWindow = parseInt(data.per_window_min || 10, 10);\nconst durationMin = base + windows * perWindow;\n\nitems[0].json.estimated_duration_min = durationMin;\nreturn items;"
      },
      "name": "Function - estimate duration2",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -2688,
        1024
      ],
      "id": "db8cb698-92d8-4077-8864-46a2a819385c"
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/distancematrix/json",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "origins",
              "value": "=Rīga, Melnsila iela 23-2, LV-1046"
            },
            {
              "name": "destinations",
              "value": "={{$json[\"body\"][\"address\"]}}"
            },
            {
              "name": "key",
              "value": "your google maps api key"
            }
          ]
        }
      },
      "name": "HTTP Request - Distance Matrix2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -2496,
        896
      ],
      "id": "c9d55bc9-fe29-42ac-ba86-972455384216"
    },
    {
      "parameters": {
        "functionCode": "const res = items[0].json;\n// safe access\nlet durSec = 0;\ntry {\n  durSec = res.rows[0].elements[0].duration.value || 0;\n} catch(e) {\n  durSec = 0;\n}\nitems[0].json.travel_time_min = Math.ceil(durSec / 60);\n// compute total slot time = travel + estimated_duration + buffer\nitems[0].json.total_slot_time = parseInt(items[0].json.travel_time_min || 0,10) + parseInt(items[0].json.estimated_duration_min || 0,10) + parseInt(items[0].json.buffer_min || 15,10);\nreturn items;"
      },
      "name": "Function - compute total slot time2",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -2144,
        1024
      ],
      "id": "9577bdb8-4a86-4a52-ad11-bd9494ecd241"
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "c_510f1e71ac7c0efaa77af0289e1a7237320585d568077a115a850a3952ed50d7@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Apkop logi tests"
        },
        "timeMin": "={{ new Date().toISOString() }}",
        "timeMax": "={{ new Date(Date.now() + 30*24*60*60*1000).toISOString() }}",
        "options": {
          "outputFormat": "raw"
        }
      },
      "name": "Google Calendar - List events (day)1",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        -2000,
        864
      ],
      "id": "881a51a2-4d61-4d7c-9b4a-7b8d53581e44",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "your_google_calendar_api_id",
          "name": "Google Calendar account 4"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// === Strict slot generator using actual total slot duration ===\n// Expects: busy (array), working_start, working_end, total_slot_time, buffer_min\n\nconst data = items[0].json;\n\nconst busy = data.busy || [];\nconst workingStart = data.working_start || \"09:00\";\nconst workingEnd = data.working_end || \"18:00\";\nconst slotLength = parseInt(data.total_slot_time || 60, 10); // full total time in minutes\nconst bufferMin = parseInt(data.buffer_min || 15, 10);\nconst daysForward = 30;\n\n// Group busy intervals\nconst busyByDate = {};\nfor (const b of busy) {\n  const date = b.start.split(\"T\")[0];\n  if (!busyByDate[date]) busyByDate[date] = [];\n  busyByDate[date].push({ start: new Date(b.start), end: new Date(b.end) });\n}\nfor (const d in busyByDate) busyByDate[d].sort((a, b) => a.start - b.start);\n\nfunction makeDate(dateStr, timeStr) {\n  const [h, m] = timeStr.split(\":\").map(Number);\n  const d = new Date(dateStr);\n  d.setHours(h, m, 0, 0);\n  return d;\n}\n\nconst today = new Date();\nconst availableDays = [];\nconst slots = {};\n\nfor (let i = 0; i < daysForward; i++) {\n  const date = new Date(today);\n  date.setDate(today.getDate() + i);\n  const dateStr = date.toISOString().split(\"T\")[0];\n  const dayOfWeek = date.getDay();\n  if (dayOfWeek === 0 || dayOfWeek === 6) continue;\n\n  const startOfDay = makeDate(dateStr, workingStart);\n  const endOfDay = makeDate(dateStr, workingEnd);\n  const busyList = busyByDate[dateStr] || [];\n  const freeSlots = [];\n\n  let current = new Date(startOfDay);\n\n  while (current.getTime() + slotLength * 60000 <= endOfDay.getTime()) {\n    const slotStart = new Date(current);\n    const slotEnd = new Date(slotStart.getTime() + slotLength * 60000);\n\n    const overlaps = busyList.some(b =>\n      slotStart < b.end && slotEnd > b.start\n    );\n\n    // Only add if slot fully fits between events\n    if (!overlaps) {\n      freeSlots.push(\n        slotStart.toLocaleTimeString(\"lv-LV\", {\n          hour: \"2-digit\",\n          minute: \"2-digit\",\n          hour12: false\n        })\n      );\n    }\n\n    // Move forward slightly (e.g., every 30min) to test next possible start\n    current.setMinutes(current.getMinutes() + 30);\n  }\n\n  if (freeSlots.length > 0) {\n    availableDays.push(dateStr);\n    slots[dateStr] = freeSlots;\n  }\n}\n\nreturn [{ json: { available_days: availableDays, slots } }];\n"
      },
      "name": "Function - generate slots1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1392,
        1008
      ],
      "id": "6d78f47f-7655-4d4d-a0e4-0e167870cd6f",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2320,
        1024
      ],
      "id": "2d375dec-5d10-43c9-9ea5-602c40df1884",
      "name": "Merge3"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1824,
        1008
      ],
      "id": "d2bc317d-bf95-4e1b-9581-ecd77ffbb766",
      "name": "Merge4"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.data }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -832,
        1008
      ],
      "id": "4445a205-bc77-4e82-8585-72ef9f1c1aba",
      "name": "Respond to Webhook1",
      "alwaysOutputData": false,
      "retryOnFail": true
    },
    {
      "parameters": {
        "functionCode": "// === Clean Slots (fixed version) ===\nconst data = items[0].json;\n\n// Extract the busy times from the first calendar\nconst calendars = data.calendars || {};\nconst calendarId = Object.keys(calendars)[0];\nconst busy = calendars?.[calendarId]?.busy || [];\n\n// Keep the timing info from the root as well\nconst totalSlotTime = data.total_slot_time;\nconst bufferMin = data.buffer_min;\nconst workingStart = data.working_start;\nconst workingEnd = data.working_end;\n\n// Return all the needed fields together\nreturn [\n  {\n    json: {\n      busy,\n      total_slot_time: totalSlotTime,\n      buffer_min: bufferMin,\n      working_start: workingStart,\n      working_end: workingEnd\n    }\n  }\n];\n"
      },
      "name": "Function - Clean slots1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1616,
        1008
      ],
      "id": "cffde470-ae7f-4f08-ab77-8f9e03139f86",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "functionCode": "// Combine all items into one object\nconst all = items.map(i => i.json);\n\n// If you already have a single item with \"available_days\" and \"slots\", just forward it:\nif (all.length === 1 && all[0].available_days) {\n  return items;\n}\n\n// Otherwise, merge all into one object\nreturn [\n  {\n    json: {\n      available_days: all.flatMap(i => i.available_days || []),\n      slots: Object.assign({}, ...all.map(i => i.slots || {}))\n    }\n  }\n];\n"
      },
      "name": "Function - Merge data1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1184,
        1008
      ],
      "id": "6d8e5e61-43c6-45be-a88f-a2d9a67a1d09",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1008,
        1008
      ],
      "id": "d539b475-0897-4dcd-a027-1e711f3af418",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "working_start",
              "value": "09:00"
            },
            {
              "name": "working_end",
              "value": "18:00"
            }
          ],
          "boolean": [],
          "number": [
            {
              "name": "per_window_min",
              "value": 10
            },
            {
              "name": "buffer_min",
              "value": 15
            }
          ]
        },
        "options": {}
      },
      "name": "Set - defaults3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -3184,
        1568
      ],
      "id": "d126ff79-2b0d-4e57-807d-952d3b37e6b2"
    },
    {
      "parameters": {
        "functionCode": "const data = items[0].json;\n\n// parse windows_count\nconst windows = parseInt(data.windows_count || 1, 10);\n\n// simple service base durations (min)\nconst baseMap = {\n  maintenance: 30,\n  regulation: 45,\n  installation: 90\n};\nconst base = baseMap[data.service_type] || 30;\n\nconst perWindow = parseInt(data.per_window_min || 10, 10);\nconst durationMin = base + windows * perWindow;\n\nitems[0].json.estimated_duration_min = durationMin;\nreturn items;"
      },
      "name": "Function - estimate duration3",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -2864,
        1568
      ],
      "id": "700453d5-1f6d-4e6a-912d-4066869d4298"
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/distancematrix/json",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "origins",
              "value": "=Rīga, Melnsila iela 23-2, LV-1046"
            },
            {
              "name": "destinations",
              "value": "={{$json[\"body\"][\"address\"]}}"
            },
            {
              "name": "key",
              "value": "your google maps api key"
            }
          ]
        }
      },
      "name": "HTTP Request - Distance Matrix3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -2704,
        1376
      ],
      "id": "5d61ad50-6451-4df7-854c-76a51c40fb11"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2560,
        1552
      ],
      "id": "d18f3294-aaf4-42d8-8a2e-7fcdf6398d18",
      "name": "Merge5"
    },
    {
      "parameters": {
        "functionCode": "const res = items[0].json;\n// safe access\nlet durSec = 0;\ntry {\n  durSec = res.rows[0].elements[0].duration.value || 0;\n} catch(e) {\n  durSec = 0;\n}\nitems[0].json.travel_time_min = Math.ceil(durSec / 60);\n// compute total slot time = travel + estimated_duration + buffer\nitems[0].json.total_slot_time = parseInt(items[0].json.travel_time_min || 0,10) + parseInt(items[0].json.estimated_duration_min || 0,10) + parseInt(items[0].json.buffer_min || 15,10);\nreturn items;"
      },
      "name": "Function - compute total slot time3",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -2368,
        1568
      ],
      "id": "9e3d89e2-b858-4fbd-8406-088043c56c12"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "c_510f1e71ac7c0efaa77af0289e1a7237320585d568077a115a850a3952ed50d7@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Apkop logi tests"
        },
        "start": "={{ new Date($json.body.date + 'T' + $json.body.time + ':00+02:00') }}",
        "end": "={{ new Date(new Date($json.body.date + 'T' + $json.body.time + ':00+02:00').getTime() + ($json.total_slot_time * 60 * 1000)) }}",
        "additionalFields": {
          "description": "={{ $json.body.description}}",
          "location": "={{ $json.body.address }}",
          "summary": "={{ $json.body.service}}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -2064,
        1776
      ],
      "id": "177a57a6-612f-4d76-8ca4-36757164b9a2",
      "name": "Izveidot tikšanos1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "your_google_calendar_api_id",
          "name": "Google Calendar account 4"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "kitovartsargs@gmail.com",
        "subject": "=Jūsu pieteikums ir pārcelts!",
        "message": "=<!DOCTYPE html>\n<html lang=\"lv\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Pieteikuma apstiprinājums</title>\n</head>\n<body style=\"font-family: Arial, sans-serif; background-color: #fafafa; padding: 0; margin: 0;\">\n  <div style=\"max-width: 600px; margin: 0 auto; background: #ffffff; border-radius: 8px; overflow: hidden;\">\n    <div style=\"text-align: center; padding: 20px;\">\n      <img src=\"https://fvsecdl.stripocdn.email/content/guids/CABINET_06139160c5dc980ed177fece9edde541cd5ccfaa83c6aba8a2dfbccd33ae8e0d/images/apkoploguss1.png\" alt=\"Apkop Logi\" width=\"200\" style=\"border: 0; outline: none; text-decoration: none;\">\n    </div>\n\n    <div style=\"padding: 20px;\">\n      <h1 style=\"text-align: center; color: #333333;\">Paldies par pieteikumu!</h1>\n\n      <p style=\"font-size: 16px; color: #333;\">\n        Sveiks, <strong>{{$json[\"body\"][\"name\"]}}</strong>! <br><br>\n        Jūsu pieteikums ir pārcelts. Mēs drīzumā ar jums sazināsimies, lai apstiprinātu detaļas un precizētu nepieciešamo informāciju.\n      </p>\n\n      <p style=\"font-size: 16px; color: #333;\">\n        <strong>Pieteikuma datums un laiks:</strong><br>\n        {{$json[\"body\"][\"date\"]}} plkst. {{$json[\"body\"][\"time\"]}}\n      </p>\n\n      <div style=\"text-align: center; margin: 40px 0;\">\n        <a href=\"https://apkoplogus.lv\" target=\"_blank\" \n          style=\"background-color: #3eb9e7; color: #fff; padding: 12px 30px; border-radius: 6px; font-size: 18px; text-decoration: none; display: inline-block;\">\n          Pārcelt pieteikumu\n        </a>\n        <p style=\"font-size: 12px; color: #555; margin-top: 10px;\">\n          Pieteikumu iespējams pārcelt ne vēlāk kā 24 stundas pirms paredzētās tikšanās.\n        </p>\n      </div>\n\n      <p style=\"font-size: 14px; color: #333;\">\n        Jautājumi vai neskaidrības? Rakstiet mums uz \n        <a href=\"mailto:info@apkoplogus.lv\" style=\"color: #3eb9e7; text-decoration: underline;\">info@apkoplogus.lv</a> \n        vai zvaniet uz <strong style=\"color: #3eb9e7;\">+371 223 314 16</strong>.\n      </p>\n\n      <p style=\"font-size: 14px; color: #333;\">\n        Ar cieņu,<br>\n        <strong>Apkop Logi komanda</strong>\n      </p>\n    </div>\n\n    <div style=\"text-align: center; padding: 20px; background: #f1f1f1; font-size: 12px; color: #555;\">\n      <p>© Apkop Logi, SIA. Visas tiesības aizsargātas.<br>\n      Teteru iela 8, Rīga, Latvija</p>\n      <div style=\"margin-top: 10px;\">\n        <a href=\"https://www.facebook.com/apkoplogus\" target=\"_blank\"><img src=\"https://fvsecdl.stripocdn.email/content/assets/img/social-icons/logo-black/facebook-logo-black.png\" width=\"24\" style=\"margin: 0 8px;\"></a>\n        <a href=\"https://www.instagram.com/apkoplogus\" target=\"_blank\"><img src=\"https://fvsecdl.stripocdn.email/content/assets/img/social-icons/logo-black/instagram-logo-black.png\" width=\"24\" style=\"margin: 0 8px;\"></a>\n        <a href=\"https://wa.me/+37126874272\" target=\"_blank\"><img src=\"https://fvsecdl.stripocdn.email/content/assets/img/messenger-icons/logo-black/whatsapp-logo-black.png\" width=\"24\" style=\"margin: 0 8px;\"></a>\n        <a href=\"https://www.tiktok.com/@profound.lv\" target=\"_blank\"><img src=\"https://fvsecdl.stripocdn.email/content/assets/img/social-icons/logo-black/tiktok-logo-black.png\" width=\"24\" style=\"margin: 0 8px;\"></a>\n      </div>\n    </div>\n  </div>\n</body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -2064,
        1552
      ],
      "id": "0661c784-a5de-4596-9162-7ac174b43ca0",
      "name": "Send a message1",
      "webhookId": "7b45a737-0976-4ff6-845e-69ff3643c035",
      "credentials": {
        "gmailOAuth2": {
          "id": "your_gmail_api_id",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"body\": {\n    \"name\": \"Kristofers\",\n    \"email\": \"kristofers@aheadmedia.lv\",\n    \"phone\": \"25410318\",\n    \"address\": \"Cielavu iela 23, Ādaži, Ādaži pilsēta, Ādažu novads\",\n    \"service\": \"Logu apkope/remonts\",\n    \"windows\": \"5\",\n    \"message\": \"5\",\n    \"date\": \"2025-11-12\",\n    \"time\": \"14:00\",\n    \"source\": \"booking_confirm\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3440,
        1312
      ],
      "id": "dd765656-fbf3-45ac-8454-60c54bd7d44e",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\n// Combine date and time into ISO datetime\nconst datetimeStr = `${data.date}T${data.time}:00+02:00`;\nconst bookingTime = new Date(datetimeStr);\n\n// Calculate reminder times\nconst reminder24h = new Date(bookingTime.getTime() - 24 * 60 * 60 * 1000);\nconst reminder1h = new Date(bookingTime.getTime() - 1 * 60 * 60 * 1000);\n\n// Return enhanced data\nreturn [\n  {\n    json: {\n      ...data,\n      datetime: datetimeStr,\n      reminder_24h: reminder24h.toISOString(),\n      reminder_1h: reminder1h.toISOString()\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2080,
        2176
      ],
      "id": "986cc1ae-6499-442f-b78b-a178d062baf2",
      "name": "24H aprēķins1"
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ $json.reminder_24h }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1920,
        2128
      ],
      "id": "1988cb6f-0278-481c-a14f-c288373018eb",
      "name": "24h timers1",
      "webhookId": "36b0d9f8-8dfa-4353-8bff-8abac56bfc6c"
    },
    {
      "parameters": {
        "sendTo": "kitovartsargs@gmail.com",
        "subject": "Atgādinājums! Būsim pie jums pēc 24h",
        "message": "=<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<html dir=\"ltr\" xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:o=\"urn:schemas-microsoft-com:office:office\" lang=\"lv\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta content=\"width=device-width, initial-scale=1\" name=\"viewport\">\n  <meta name=\"x-apple-disable-message-reformatting\">\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n  <meta content=\"telephone=no\" name=\"format-detection\">\n  <title>24H Atgādinājums</title>\n</head>\n<body style=\"font-family: Arial, sans-serif; background-color: #fafafa; margin: 0; padding: 0;\">\n  <div style=\"max-width: 600px; margin: 0 auto; background: #ffffff; border-radius: 8px; overflow: hidden;\">\n    <div style=\"text-align: center; padding: 20px;\">\n      <img src=\"https://fvsecdl.stripocdn.email/content/guids/CABINET_06139160c5dc980ed177fece9edde541cd5ccfaa83c6aba8a2dfbccd33ae8e0d/images/apkoploguss1.png\" alt=\"Apkop Logi\" width=\"200\" style=\"border: 0; outline: none; text-decoration: none;\">\n    </div>\n\n    <div style=\"padding: 20px;\">\n      <h1 style=\"text-align: center; color: #333333;\">24H Atgādinājums!</h1>\n\n      <p style=\"font-size: 16px; color: #333;\">\n        Sveiki, <strong>{{$json[\"name\"]}}</strong>!<br><br>\n        Atgādinām, ka jūsu pieteiktā <strong>{{$json[\"service\"]}}</strong> ir paredzēta \n        <strong>{{$json[\"date\"]}} plkst. {{$json[\"time\"]}}.</strong>\n      </p>\n\n      <p style=\"font-size: 16px; color: #333;\">\n        Šis ir automātisks 24 stundu atgādinājums, lai nodrošinātu, ka apkalpošanas laiks jums joprojām ir ērts.\n      </p>\n\n      <p style=\"font-size: 16px; color: #333;\">\n        Lūdzu, ņemiet vērā, ka <strong>pieteikumu vairs nav iespējams pārcelt</strong> mazāk nekā 24 stundas pirms paredzētās tikšanās.\n      </p>\n\n      <p style=\"font-size: 16px; color: #333;\">\n        Ja tomēr nevarēsiet ierasties, lūdzam sazināties ar mums pēc iespējas ātrāk, zvanot vai rakstot:\n      </p>\n\n      <p style=\"font-size: 16px; color: #3eb9e7; font-weight: bold;\">\n        +371 223 314 16<br>\n        <a href=\"mailto:info@apkoplogus.lv\" style=\"color: #3eb9e7; text-decoration: underline;\">info@apkoplogus.lv</a>\n      </p>\n\n      <p style=\"font-size: 14px; color: #333;\">\n        Paldies par sapratni un uz tikšanos!<br><br>\n        Ar cieņu,<br>\n        <strong>Apkop Logi komanda</strong>\n      </p>\n    </div>\n\n    <div style=\"text-align: center; padding: 20px; background: #f1f1f1; font-size: 12px; color: #555;\">\n      <p>© Apkop Logi, SIA. Visas tiesības aizsargātas.<br>Teteru iela 8, Rīga, Latvija</p>\n      <div style=\"margin-top: 10px;\">\n        <a href=\"https://www.facebook.com/apkoplogus\" target=\"_blank\"><img src=\"https://fvsecdl.stripocdn.email/content/assets/img/social-icons/logo-black/facebook-logo-black.png\" width=\"24\" style=\"margin: 0 8px;\"></a>\n        <a href=\"https://www.instagram.com/apkoplogus\" target=\"_blank\"><img src=\"https://fvsecdl.stripocdn.email/content/assets/img/social-icons/logo-black/instagram-logo-black.png\" width=\"24\" style=\"margin: 0 8px;\"></a>\n        <a href=\"https://wa.me/+37126874272\" target=\"_blank\"><img src=\"https://fvsecdl.stripocdn.email/content/assets/img/messenger-icons/logo-black/whatsapp-logo-black.png\" width=\"24\" style=\"margin: 0 8px;\"></a>\n        <a href=\"https://www.tiktok.com/@profound.lv\" target=\"_blank\"><img src=\"https://fvsecdl.stripocdn.email/content/assets/img/social-icons/logo-black/tiktok-logo-black.png\" width=\"24\" style=\"margin: 0 8px;\"></a>\n      </div>\n    </div>\n  </div>\n</body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1744,
        2128
      ],
      "id": "f119c6d0-d67f-42d5-8910-96eaee7a4230",
      "name": "24h Atgādinājuma e-pasts1",
      "webhookId": "c8d07f10-251e-49cf-a494-f29be9b43da4",
      "credentials": {
        "gmailOAuth2": {
          "id": "your_gmail_api_id",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{$json.reminder_1h}}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1920,
        2336
      ],
      "id": "af86eb1e-17c1-44c1-ad38-5e6a6ad8b8d2",
      "name": "1h timers1",
      "webhookId": "36b0d9f8-8dfa-4353-8bff-8abac56bfc6c"
    },
    {
      "parameters": {
        "operation": "send",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -1744,
        2336
      ],
      "id": "bace2cc2-7544-483a-a55a-bfe61ee60f41",
      "name": "Send message1",
      "webhookId": "bf10c1db-8484-408f-9f33-68ca118877fc",
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "booking/confirm",
        "options": {
          "allowedOrigins": "https://www.apkoplogus.lv"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3376,
        1568
      ],
      "id": "ecded0ea-9e38-494d-8cb5-d9dcd8288e88",
      "name": "Webhook - Reschedule Confirmation",
      "webhookId": "ff43278d-bffa-4151-b1c9-dff11e313f8c"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1woMQfwHUepJEcc9jytQiKCG5JLS4wgqiel3k3Hir3tI",
          "mode": "list",
          "cachedResultName": "Tests - Apkop Logi",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1woMQfwHUepJEcc9jytQiKCG5JLS4wgqiel3k3Hir3tI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1woMQfwHUepJEcc9jytQiKCG5JLS4wgqiel3k3Hir3tI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Epasts": "={{ $json.body.email }}",
            "Vārds Uzvārds": "={{ $json.body.name }}",
            "Telefona numurs": "={{ $json.body.phone }}",
            "Kad pieteicās": "=",
            "Adrese": "={{ $json.body.address }}",
            "Pieteikuma avots": "={{ $json.body.source }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Epasts",
              "displayName": "Epasts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vārds Uzvārds",
              "displayName": "Vārds Uzvārds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefona numurs",
              "displayName": "Telefona numurs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Kad pieteicās",
              "displayName": "Kad pieteicās",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pieteikuma avots",
              "displayName": "Pieteikuma avots",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vai sazvanīts?",
              "displayName": "Vai sazvanīts?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Interese",
              "displayName": "Interese",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pēdējā aktivitāte",
              "displayName": "Pēdējā aktivitāte",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nākamā rīcība",
              "displayName": "Nākamā rīcība",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Papildus darbība",
              "displayName": "Papildus darbība",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Klients",
              "displayName": "Klients",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Darījuma lielums",
              "displayName": "Darījuma lielums",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tips",
              "displayName": "Tips",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pilsēta",
              "displayName": "Pilsēta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Adrese",
              "displayName": "Adrese",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Komentārs",
              "displayName": "Komentārs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2064,
        1984
      ],
      "id": "66056586-dbb4-42a3-bafc-2b58dc2dbd86",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "your_google_sheets_api_id",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "c_510f1e71ac7c0efaa77af0289e1a7237320585d568077a115a850a3952ed50d7@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Apkop logi tests"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -3008,
        1568
      ],
      "id": "95ba69e0-6ede-4b37-b8c3-0d8086f91dfb",
      "name": "Delete an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "your_google_calendar_api_id",
          "name": "Google Calendar account 4"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "\n{\n\"per_window_min\": 10,\n\"buffer_min\": 15,\n\"city\": \"Rīga\",\n\"address\":\"\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3328,
        -704
      ],
      "id": "311b9fb6-be24-47f5-a213-c245ef41b42e",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "functionCode": "const data = items[0].json;\n\n// parse windows_count\nconst windows = parseInt(data.windows_count || 1, 10);\n\n// simple service base durations (min)\nconst baseMap = {\n  maintenance: 30,\n  regulation: 45,\n  installation: 90\n};\nconst base = baseMap[data.service_type] || 30;\n\nconst perWindow = parseInt(data.per_window_min || 10, 10);\nconst durationMin = base + windows * perWindow;\n\nitems[0].json.estimated_duration_min = durationMin;\nreturn items;"
      },
      "name": "Function - estimate duration5",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -2544,
        -288
      ],
      "id": "3301945e-1e34-4ef8-af1e-1b450759b588"
    },
    {
      "parameters": {
        "functionCode": "const cityRaw = $node[\"Edit Fields3\"].json.city || \"\";\nconst city = cityRaw.trim().toLowerCase();\n\nconst events = $items(\"getEventLocation\").map(item => item.json);\n\nconst matchingEvents = events.filter(event => {\n  if (!event.location) return false;\n\n  const loc = event.location.toLowerCase();\n  return loc.includes(city);\n});\n\nconst result = matchingEvents.map(event => ({\n  location: event.location,\n  start: event.start?.dateTime || event.start?.date,\n  end: event.end?.dateTime || event.end?.date\n}));\n\nreturn result.length > 0\n  ? result.map(r => ({ json: r }))\n  : [{ json: { message: `No address found: ${cityRaw}` } }];\n"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -2432,
        -752
      ],
      "id": "19b2a25d-9a92-4e3d-8388-036db26c9471",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/distancematrix/json",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "origins",
              "value": "={{ $('Function').all()[0].json.location }}"
            },
            {
              "name": "destinations",
              "value": "={{ $json.address }}, {{ $json.city }}"
            },
            {
              "name": "key",
              "value": "your google maps api key"
            }
          ]
        }
      },
      "name": "HTTP Request - Distance Matrix5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -2528,
        -544
      ],
      "id": "5bd771de-92f0-42aa-8287-6130133deda5",
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "functionCode": "const res = items[0].json;\n// safe access\nlet durSec = 0;\ntry {\n  durSec = res.rows[0].elements[0].duration.value || 0;\n} catch(e) {\n  durSec = 0;\n}\nitems[0].json.travel_time_min = Math.ceil(durSec / 60);\n// compute total slot time = travel + estimated_duration + buffer\nitems[0].json.total_slot_time = parseInt(items[0].json.travel_time_min || 0,10) + parseInt(items[0].json.estimated_duration_min || 0,10) + parseInt(items[0].json.buffer_min || 15,10);\nreturn items;\n"
      },
      "name": "Function - compute total slot time5",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -2064,
        -432
      ],
      "id": "bff821c1-b02e-4a42-9726-965467f5c317"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2272,
        -432
      ],
      "id": "b7c19603-d106-463f-95c7-bbda6d9c08c1",
      "name": "Merge8"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1808,
        -544
      ],
      "id": "ad926a27-044d-411d-bcf5-cb47ac527b13",
      "name": "Merge9"
    },
    {
      "parameters": {
        "functionCode": "const WORK_START = 9;\nconst WORK_END = 18;\nconst STEP_MIN_DEFAULT = 30;\n\nconst inputs = $input.all().map(i => i.json || i);\nconsole.log(\"INPUTS:\", JSON.stringify(inputs, null, 2));\n\nconst pad = n => String(n).padStart(2, '0');\nconst dayFromIsoLike = s => s ? String(s).split('T')[0] : null;\nconst offsetFromIso = s => {\n  if (!s) return null;\n  const m = String(s).match(/([+-]\\d{2}:\\d{2})$/);\n  if (m) return m[1];\n  if (String(s).endsWith('Z')) return 'Z';\n  return null;\n};\nconst offsetToMinutes = off => {\n  if (!off) return 0;\n  if (off === 'Z') return 0;\n  const sign = off[0] === '-' ? -1 : 1;\n  const [h, m] = off.slice(1).split(':').map(Number);\n  return sign * (h * 60 + (m || 0));\n};\n\nfunction parseToMs(raw, fallbackOffset) {\n  if (!raw) return null;\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(raw)) {\n    const off = fallbackOffset === 'Z' ? 'Z' : (fallbackOffset || 'Z');\n    return new Date(raw + 'T00:00:00' + (off === 'Z' ? 'Z' : off)).getTime();\n  }\n  const hasOffset = /[T].*([+-]\\d{2}:\\d{2}|Z)$/.test(raw);\n  const used = hasOffset ? raw : raw + (fallbackOffset === 'Z' ? 'Z' : (fallbackOffset || 'Z'));\n  return new Date(used).getTime();\n}\n\nfunction formatLocalTime(ms, offsetMinutes) {\n  const d = new Date(ms);\n  const utcTotalMins = d.getUTCHours() * 60 + d.getUTCMinutes();\n  let localTotalMins = utcTotalMins + offsetMinutes;\n  localTotalMins = ((localTotalMins % (24*60)) + 24*60) % (24*60);\n  const hh = Math.floor(localTotalMins / 60);\n  const mm = localTotalMins % 60;\n  return `${pad(hh)}:${pad(mm)}`;\n}\n\nconst overlaps = (aS, aE, bS, bE) => (aS < bE && bS < aE);\n\nconst byDayRaw = {};\nfor (const it of inputs) {\n  const rawStart = it.start?.dateTime ?? it.start?.date ?? it.start;\n  const rawEnd   = it.end?.dateTime ?? it.end?.date ?? it.end;\n  if (!rawStart) continue;\n  const day = dayFromIsoLike(rawStart);\n  if (!byDayRaw[day]) byDayRaw[day] = [];\n  byDayRaw[day].push({ rawStart, rawEnd, meta: it });\n}\n\nconst dayStartUtcMs = day => new Date(day + 'T00:00:00Z').getTime();\n\nfunction ceilToStepLocal(ms, dayStr, stepMin, offsetMin) {\n  const dayUtc = dayStartUtcMs(dayStr);\n  const diff = ms - dayUtc;\n  const utcMins = Math.floor(diff / 60000);\n  let localMins = utcMins + offsetMin;\n  localMins = ((localMins % (24*60)) + 24*60) % (24*60);\n  const rem = localMins % stepMin;\n  if (rem !== 0) {\n    localMins += (stepMin - rem);\n    if (localMins >= 24*60) localMins -= 24*60;\n  }\n  let newUtcMins = localMins - offsetMin;\n  newUtcMins = ((newUtcMins % (24*60)) + 24*60) % (24*60);\n  return dayUtc + newUtcMins * 60 * 1000;\n}\n\nconst slots = {};\nconst available_days = [];\n\nfor (const [day, list] of Object.entries(byDayRaw)) {\n  const firstOff = offsetFromIso(list[0].rawStart) || offsetFromIso(list[0].rawEnd) || 'Z';\n  const offsetMin = offsetToMinutes(firstOff);\n\n  const workStartIso = `${day}T${pad(WORK_START)}:00:00${firstOff === 'Z' ? 'Z' : firstOff}`;\n  const workEndIso   = `${day}T${pad(WORK_END)}:00:00${firstOff === 'Z' ? 'Z' : firstOff}`;\n  const workStartMs = new Date(workStartIso).getTime();\n  const workEndMs = new Date(workEndIso).getTime();\n\n  const per_window_min = Number(list[0].meta?.per_window_min) || STEP_MIN_DEFAULT;\n  const travel_time_min = Number(list[0].meta?.travel_time_min) || 0;\n  const total_slot_time = Number(list[0].meta?.total_slot_time) || (Number(list[0].meta?.estimated_duration_min) || 60);\n\n  const parsed = list.map(it => {\n    const sMs = parseToMs(it.rawStart, firstOff);\n    const eMs = parseToMs(it.rawEnd, firstOff);\n    return { startMs: sMs, endMs: eMs };\n  }).filter(x => typeof x.startMs === 'number' && typeof x.endMs === 'number');\n\n  parsed.sort((a,b) => a.startMs - b.startMs);\n\n  const allEvents = [\n    { startMs: workStartMs, endMs: workStartMs },\n    ...parsed,\n    { startMs: workEndMs, endMs: workEndMs }\n  ];\n\n  const freeLabels = new Set();\n\n  for (let i = 0; i < allEvents.length - 1; i++) {\n    const prev = allEvents[i];\n    const next = allEvents[i + 1];\n\n    const gapStart = Math.max(prev.endMs + travel_time_min * 60 * 1000, workStartMs);\n    const gapEnd   = Math.min(next.startMs - travel_time_min * 60 * 1000, workEndMs);\n\n    if (gapEnd - gapStart < total_slot_time * 60 * 1000) continue;\n\n    let candidate = ceilToStepLocal(gapStart, day, per_window_min, offsetMin);\n    while (candidate < gapStart) candidate += per_window_min * 60 * 1000;\n\n    while (candidate + total_slot_time * 60 * 1000 <= gapEnd) {\n      const slotStart = candidate;\n      const slotEnd = candidate + total_slot_time * 60 * 1000;\n      const collides = parsed.some(ev => overlaps(ev.startMs, ev.endMs, slotStart, slotEnd));\n      if (!collides) freeLabels.add(formatLocalTime(candidate, offsetMin));\n      candidate += per_window_min * 60 * 1000;\n    }\n  }\n\n  const arr = Array.from(freeLabels).sort((a,b)=>{\n    const [ah,am]=a.split(':').map(Number);\n    const [bh,bm]=b.split(':').map(Number);\n    return ah*60+am - (bh*60+bm);\n  });\n\n  if (arr.length) {\n    slots[day] = arr;\n    available_days.push(day);\n  }\n}\n\nreturn [{ json: { available_days, slots } }];"
      },
      "name": "generateSlots1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1584,
        -544
      ],
      "id": "4a854257-3c03-4008-beba-05e117e6804b",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "c_510f1e71ac7c0efaa77af0289e1a7237320585d568077a115a850a3952ed50d7@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Apkop logi tests"
        },
        "returnAll": true,
        "options": {
          "timeMin": "={{ new Date().toISOString() }}",
          "timeMax": "={{ new Date(Date.now() + 7*24*60*60*1000).toISOString() }}"
        }
      },
      "name": "getEventLocation",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        -2688,
        -752
      ],
      "id": "14a89cbe-d17a-43e1-8863-895c569b4671",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "your_google_calendar_api_id",
          "name": "Google Calendar account 4"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Set - defaults": {
      "main": [
        [
          {
            "node": "Function - estimate duration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - estimate duration": {
      "main": [
        [
          {
            "node": "HTTP Request - Distance Matrix",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request - Distance Matrix": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - compute total slot time": {
      "main": [
        [
          {
            "node": "Google Calendar - List events (day)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Calendar - List events (day)": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - generate slots": {
      "main": [
        [
          {
            "node": "Function - Merge data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Function - compute total slot time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Function - Clean slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Clean slots": {
      "main": [
        [
          {
            "node": "Function - generate slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Merge data": {
      "main": [
        []
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Form Confirmation": {
      "main": [
        [
          {
            "node": "Set - defaults1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    },
    "Set - defaults1": {
      "main": [
        [
          {
            "node": "Function - estimate duration1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - estimate duration1": {
      "main": [
        [
          {
            "node": "HTTP Request - Distance Matrix1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request - Distance Matrix1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Function - compute total slot time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - compute total slot time1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Izveidot tikšanos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "24H aprēķins",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Get client data": {
      "main": [
        [
          {
            "node": "getEventLocation",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request - Distance Matrix5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Function - estimate duration5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Izveidot tikšanos": {
      "main": [
        []
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Set - defaults1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "24H aprēķins": {
      "main": [
        [
          {
            "node": "24h timers",
            "type": "main",
            "index": 0
          },
          {
            "node": "1h timers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "24h timers": {
      "main": [
        [
          {
            "node": "24h Atgādinājuma e-pasts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1h timers": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Reschedule data": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - defaults2": {
      "main": [
        [
          {
            "node": "Function - estimate duration2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - estimate duration2": {
      "main": [
        [
          {
            "node": "HTTP Request - Distance Matrix2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request - Distance Matrix2": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - compute total slot time2": {
      "main": [
        [
          {
            "node": "Google Calendar - List events (day)1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Calendar - List events (day)1": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - generate slots1": {
      "main": [
        [
          {
            "node": "Function - Merge data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Function - compute total slot time2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Function - Clean slots1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Clean slots1": {
      "main": [
        [
          {
            "node": "Function - generate slots1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Merge data1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Set - defaults2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - defaults3": {
      "main": [
        [
          {
            "node": "Delete an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - estimate duration3": {
      "main": [
        [
          {
            "node": "HTTP Request - Distance Matrix3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request - Distance Matrix3": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Function - compute total slot time3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - compute total slot time3": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Izveidot tikšanos1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          },
          {
            "node": "24H aprēķins1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Set - defaults3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "24H aprēķins1": {
      "main": [
        [
          {
            "node": "24h timers1",
            "type": "main",
            "index": 0
          },
          {
            "node": "1h timers1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "24h timers1": {
      "main": [
        [
          {
            "node": "24h Atgādinājuma e-pasts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1h timers1": {
      "main": [
        [
          {
            "node": "Send message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Reschedule Confirmation": {
      "main": [
        [
          {
            "node": "Set - defaults3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Izveidot tikšanos1": {
      "main": [
        []
      ]
    },
    "Delete an event": {
      "main": [
        [
          {
            "node": "Function - estimate duration3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        []
      ]
    },
    "Function - estimate duration5": {
      "main": [
        [
          {
            "node": "Merge8",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "Merge9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Distance Matrix5": {
      "main": [
        [
          {
            "node": "Merge8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - compute total slot time5": {
      "main": [
        [
          {
            "node": "Merge9",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge8": {
      "main": [
        [
          {
            "node": "Function - compute total slot time5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge9": {
      "main": [
        [
          {
            "node": "generateSlots1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generateSlots1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getEventLocation": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d85e3d8c-e2d0-4f8f-8dc0-80d8eda84d50",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2a7601935e83c63e5d3b3f3371c969cc8415a74137be2bb463bcf0956b07193d"
  },
  "id": "zET5LExzOUVxx80z",
  "tags": []
}